<div class="container">
  <div class="messaging">
    <div class="inbox_msg">

      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Messages</h4>
          </div>
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span> </div>
          </div>
        </div>
        <div class="inbox_chat">
          <div class="chat_list" *ngFor="let member of members; let i = index" 
            (click)="loadMessageThread(member.username)"  [ngClass]="{'active_chat': selectedItem == member}" (click)="listClick($event, member)">
            <div class="chat_people">
              <div class="chat_img"> <img src="{{member.photoUrl || './assets/img/user.png'}}" alt="{{member.firstName}}"> </div>
              <div class="chat_ib">
                <h5>{{member.firstName}} {{member.lastName}} 
                  <span class="chat_date"> Active
                    {{member.lastActive | timeago}}</span></h5>
                <p>{{member.username}}</p>
              </div>
            </div>
          </div>

        </div>
        <div class="d-flex justify-content-center" *ngIf="pagination">
          <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
            [itemsPerPage]="pagination.itemsPerPage" [(ngModel)]="pagination.currentPage"
            (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
            lastText="&raquo;">
          </pagination>
        </div>
      </div>

      <div class="mesgs">
        <div class="msg_history" #commentEl (scroll)="onScroll()">
          <div *ngIf="(messageService.messageThread$ | async)?.length === 0">
            No Message to display
          </div>
          <div *ngIf="(messageService.messageThread$ | async)?.length > 0" >
            <div *ngFor="let message of (messageService.messageThread$ | async)">
              <div class="incoming_msg" *ngIf="message.senderUsername != member">
                <div class="incoming_msg_img"> <img src="{{message.senderPhotoUrl || './assets/img/user.png'}}" alt="">
                </div>
                <div class="received_msg">
                  <div class="received_withd_msg">
                    <p>{{message.content}}
                      <span class="float-right" (click)="deleteMessage(message.id)" style="cursor: pointer;">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        </span>
                    </p>
                    <span class="time_date"> {{message.messageSent | timeago}}
                    <span class="text-danger" *ngIf="!message.dateRead && message.senderUsername != member">
                      (Unread)</span>
                    <span class=" text-success" *ngIf="message.dateRead && message.senderUsername != member">
                      (Read)</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="outgoing_msg" *ngIf="message.senderUsername == member">
                <div class="outgoing_msg_img ml-2"> <img src="{{message.senderPhotoUrl || './assets/img/user.png'}}" alt="">
                  
                </div>
                <div class="sent_msg">
                  <p> {{message.content}} 
                    <span class="float-right" (click)="deleteMessage(message.id)" style="cursor: pointer;">
                     <i class="fa fa-trash" aria-hidden="true"></i>
                     </span>
                  </p> 
                  <span class="time_date"> {{message.messageSent | timeago}}</span>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <form #messageForm="ngForm" (ngSubmit)= "sendMessage()" autocomplete="off" class="pt-5">
        <div class="type_msg">
          <div class="input_msg_write">
            <input required name="messageContent" [(ngModel)]="messageContent" type="text" class="write_msg" placeholder="Type a message" />
            <button [disabled]="!messageForm.valid" class="msg_send_btn" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
          </div>
        </div>
        </form>
      </div>

    </div>
  </div>
</div>