<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive="active">Get your TA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto " >
                <ng-container *ngIf="accountservice.currentUser$ | async">
                    <li class="nav-item ">
                        <a class="nav-link" routerLink='/dashboard' routerLinkActive="active">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/create' routerLinkActive="active">TA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/members' routerLinkActive="active">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/messages' routerLinkActive="active">Messages</a>
                    </li>
                </ng-container>
            </ul>
           
            <div *ngIf="accountservice.currentUser$ | async" class="btn-group" dropdown>
               
                <button id="button-basic" dropdownToggle type="button" class="btn btn-link"
                    aria-controls="dropdown-basic">
                   
                     <div class="image_outer_container">
                        <div class="green_icon"></div>
                        <div class="image_inner_container">
                            <img src="{{user.photoUrl || './assets/img/user.png'}}" alt="{{user.username}}">
                        </div>
                    </div>
                    <!-- <div class="name"> {{user.username}}</div> -->
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                    <li role="menuitem"><a class="dropdown-item" routerLink="/profile" >Profile</a></li>
                    <li role="menuitem"><a class="dropdown-item" (click)='logout()'>logout</a></li>
                </ul>
               

               

            </div>

            <a *ngIf="(accountservice.currentUser$ | async) === null" class="nav-link" routerLink='/login'>Login</a>
            <button *ngIf="(accountservice.currentUser$ | async) === null" class="btn btn-outline-warning"
                routerLink='/register'>Join Us</button>
        </div>
    </div>
</nav>