<div class=" emp-profile">

  <div class="row">
    <div class="col-md-4 mt-4">

      <div class="profile-img">
        <img src="{{member.photoUrl || './assets/img/user.png'}}" alt="" />
      </div>

      <div class="profile-head ml-5 mt-2">
        <h3>
          <span>{{member.firstName}} </span>
          <span>{{member.lastName}} </span>
        </h3>
      </div>


      <div class="profile-work">
        <p>Location : {{member.city}}, {{member.country}} </p>
        <p>Age : {{member.age}} </p>
        <p>Last Active : {{member.lastActive}} </p>
        <p>Account Created : {{member.created}} </p>

      </div>

    </div>

    <div class="col-md-8">

      <div class="tabs">
        <tabset type="pills">
          <tab heading="About" id="tab1">
            <div class="container mt-3">
              <div class="alert alert-info" *ngIf="editForm.dirty">
                <strong>Information: </strong> you have made changes. Any unsaved changes will be lost
              </div>
              <form #editForm="ngForm" (ngSubmit)="updateMember()">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="firstname">First Name</label>
                    <input type="text" name="firstName" [(ngModel)]="member.firstName" class="form-control"
                      id="firstname" placeholder="First Name">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="lastname">LastName</label>
                    <input type="text" name="lastName" [(ngModel)]="member.lastName" class="form-control" id="lastname"
                      placeholder="Last Name">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="city">City</label>
                    <input type="text" name="city" [(ngModel)]="member.city" class="form-control" id="city"
                      placeholder="Country">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="country">Country</label>
                    <input type="text" name="country" [(ngModel)]="member.country" class="form-control" id="country"
                      placeholder="Country">
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="DOB">DOB</label>
                    <input type="text" name="age" [(ngModel)]="member.age" class="form-control" id="DOB"
                      placeholder="Date of Birth">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="gender">Gender</label>
                    <input type="text" name="gender" [(ngModel)]="member.gender" class="form-control" id="gender"
                      placeholder="Gender">
                  </div>
                </div>

                <button type="submit" [disabled]="!editForm.dirty" class="btn btn-primary btn-block mt-3">Save</button>
              </form>
            </div>
          </tab>

          <tab heading="Photos">

            <div class="row mt-3">

              <div class="col-md-12">
                <h3>Add Photos</h3>
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)"
                  [uploader]="uploader" class="card bg-faded p-3 text-center mb-3 my-drop-zone">
                  <i class="fa fa-upload fa-3x"></i>
                  Drop Photos here
                </div>


                <div class="text-center">
                  <p>OR</p>
                </div>

                <div class="input-group mb-3">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" ng2FileSelect [uploader]="uploader" multiple
                      id="inputGroupFile01">
                    <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
                </div>

              </div>

              <div class="col-md-12" *ngIf="uploader?.queue?.length" style="margin-bottom: 40px">
                <p>Files: {{ uploader?.queue?.length }}</p>

                <table class="table">
                  <thead>
                    <tr>
                      <th width="50%">Name</th>
                      <th>Size</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of uploader.queue">
                      <td><strong>{{ item?.file?.name }}</strong></td>
                      <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                      <td nowrap>
                      </td>
                    </tr>
                  </tbody>
                </table>

                <div>
                  <div>
                    <p> Queue progress:</p>
                    <div class="progress">
                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }">
                      </div>
                    </div>
                  </div>
                  <br>
                  <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="fa fa-upload"></span> Upload all
                  </button>
                  <button type="button" class="btn btn-warning btn-s" (click)="uploader.cancelAll()"
                    [disabled]="!uploader.isUploading">
                    <span class="fa fa-ban"></span> Cancel all
                  </button>
                  <button type="button" class="btn btn-danger btn-s" (click)="uploader.clearQueue()"
                    [disabled]="!uploader.queue.length">
                    <span class="fa fa-trash"></span> Remove all
                  </button>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-6 mb-2 mt-2" *ngFor="let photo of member.photos">
                <div class="thumbnail">
                  <img src="{{photo.url}}" class="img-thumbnail p-1">
                  <div class="text-center">
                    <button class="btn btn-sm" [disabled]="photo.isMain" (click)="setMainPhoto(photo)" [ngClass]='photo.isMain ? "btn-success active" : "btn-outline-success"'>
                      Main
                    </button>
                    <button class="btn btn-sm btn-danger" [disabled]="photo.isMain" 
                           (click)="deletePhoto(photo.id)"> 
                      <i class="fa fa-trash"></i>

                    </button>
                  </div>
                </div>
              </div>
            </div>

          </tab>

        </tabset>
      </div>
    </div>
  </div>

</div>