<div class="row">
  <div class="col-12">
    <ngx-charts-number-card
    [view]="[1150,200]"
    [scheme]="colorScheme"
    [results]="single"
   >
  </ngx-charts-number-card>

  </div>
</div>

<div class="row">
  <div class="col-12">
    <ngx-charts-pie-grid [results]="single" [view]="[1150,200]">
    </ngx-charts-pie-grid>

  </div>
</div>

<div class="row mt-2">
  <div class="col-md-6">
    <ngx-charts-advanced-pie-chart [view]="[500,300]" [scheme]="colorScheme" [results]="single" [gradient]="gradient">
    </ngx-charts-advanced-pie-chart>
  </div>

  <div class="col-md-6">
    <ngx-charts-bar-vertical [view]="[500,300]" [scheme]="colorScheme" [results]="single" [gradient]="gradient"
      [xAxis]="showXAxis" [yAxis]="showYAxis" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
      [gradient]="true">
    </ngx-charts-bar-vertical>
  </div>
</div>