<div class="global-container">
  <div class="card login-form">
    <div class="card-body">
      <h3 class="card-title text-center">Register</h3>
      <div class="card-text">



        <form #registerForm="ngForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="username">Email address</label>
              <input type="email" required name="username" [(ngModel)]="model.username" placeholder="Username"
                class="form-control form-control-sm" id="username" aria-describedby="emailHelp">
            </div>
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input type="password" required name="password" [(ngModel)]="model.password" placeholder="Password"
                class="form-control form-control-sm" id="password">
            </div>
            <div class="form-group col-md-6">
              <label for="confirmpassword">Confirm Password</label>
              <input type="password" required name="confirmpassword" [(ngModel)]="model.confirmpassword"
                placeholder="Confirm Password" class="form-control form-control-sm" id="confirmpassword">
            </div>

            <div class="form-group col-md-6">
              <label for="FirstName">First Name</label>
              <input type="text" required name="FirstName" [(ngModel)]="model.FirstName" placeholder="First Name"
                class="form-control form-control-sm" id="FirstName">
            </div>
            <div class="form-group col-md-6">
              <label for="LastName">Last Name</label>
              <input type="text" required name="LastName" [(ngModel)]="model.LastName" placeholder="Last Name"
                class="form-control form-control-sm" id="LastName">
            </div>

          </div>
          <div class="form-group">
            <label for="dob">Date of Birth</label>
            <input type="text" required class="form-control form-control-sm" bsDatepicker [(ngModel)]="model.dateOfBirth"
              name="dateOfBirth" id="dob" placeholder="Date"  [bsConfig]="{ dateInputFormat: 'DD MMMM YYYY' }">
          
          </div>
          <div class="form-group">
            <label for="gender">Gender</label>
            <select id="gender" required [(ngModel)]="model.gender" name="gender" class="form-control form-control-sm">
              <option selected>Male</option>
              <option>Female</option>
            </select>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city">City</label>
              <select id="City" required [(ngModel)]="model.city" name="city" class="form-control form-control-sm">
                <option selected>Pune</option>
                <option>Mumbai</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="country">Country</label>
              <select id="country" required [(ngModel)]="model.country" name="country" class="form-control form-control-sm">
                <option selected>India</option>
                <option>Canada</option>
              </select>
            </div>
          </div>

          <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-block">Register</button>

          <div class="row" *ngIf="validationErrors.length > 0">
            <ul class="text-danger">
              <li *ngFor="let error of validationErrors">
                {{error}}
              </li>
            </ul>

          </div>


          <div class="sign-up">
            have an account? <a href="#">Login In</a>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>